<div class="p-10">
  <div class="flex-box">
    <div class="default">
      <h6>Default Button</h6>
      <sys-button icon="home">
        sys Button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" color="accent" >
        sys button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" color="olive">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" color="alert">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" color="error">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" color="secondary">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" color="accent" [disable]="true">
        sys button
      </sys-button>
    </div>

    <div>
      <h6>Outline Button</h6>
      <sys-button icon="home" class="outline">
        SYS Button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" class="outline" color="accent">
        sys button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" class="outline"   color="olive">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" class="outline"   color="alert">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" class="outline" color="error">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" class="outline" color="secondary">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" class="outline"  color="accent" [disable]="true">
        sys button
      </sys-button>
    </div>

    <div>
      <h6>Text Button</h6>
      <sys-button icon="home"  class="textBtn">
        SYS Button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" class="textBtn"  color="accent">
        sys button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" class="textBtn" color="olive">
          sys button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" class="textBtn" color="alert">
          sys button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" class="textBtn" color="error">
          sys button
      </sys-button>
      <br>
      <sys-button icon="power_settings_new" class="textBtn" color="secondary">
          sys button
      </sys-button>

      <br>

      <sys-button icon="power_settings_new" class="textBtn" color="accent" [disable]="true">
        sys button
      </sys-button>
    </div>


    <div>
      <h6>Icon Button</h6>
        <sys-button icon="attachment"  [iconBtn]="true" ></sys-button>
      <br>
        <sys-button icon="search"  [iconBtn]="true" color="accent"> </sys-button>
      <br>
        <sys-button icon="lock"  [iconBtn]="true" color="olive"></sys-button>
      <br>
        <sys-button icon="favorite"  [iconBtn]="true" color="alert"> </sys-button>
      <br>
        <sys-button icon="delete"  [iconBtn]="true" color="error"></sys-button>
      <br>
        <sys-button icon="send"  [iconBtn]="true" color="secondary"></sys-button>
      <br>
        <sys-button icon="home"  [iconBtn]="true" color="accent" [disable]="true"></sys-button>
    </div>



  <div>
    <h6>Rounded Button</h6>
    <sys-button icon="home"  class="rounded">
      SYS Button
    </sys-button>
    <br>
    <sys-button icon="power_settings_new" class="rounded"  color="accent">
      sys button
    </sys-button>
    <br>
    <sys-button icon="power_settings_new" class="rounded" color="olive">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="rounded" color="alert">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="rounded" color="error">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="rounded" color="secondary">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="rounded" color="accent" [disable]="true">
      sys button
    </sys-button>
  </div>

  <div>
    <h6>Rounded Icon Button</h6>
      <sys-button icon="attachment" class="rounded"  [iconBtn]="true" ></sys-button>
    <br>
      <sys-button icon="search" class="rounded" [iconBtn]="true" color="accent" > </sys-button>
    <br>
      <sys-button icon="lock" class="rounded" [iconBtn]="true" color="olive"></sys-button>
    <br>
      <sys-button icon="favorite" class="rounded" [iconBtn]="true" color="alert"> </sys-button>
    <br>
      <sys-button icon="delete" class="rounded" [iconBtn]="true" color="error"></sys-button>
    <br>
      <sys-button icon="send" class="rounded" [iconBtn]="true" color="secondary"></sys-button>
    <br>
      <sys-button icon="home" class="rounded" [iconBtn]="true" color="accent" [disable]="true"></sys-button>
  </div>


  <div>
    <h6>Outline Rounded Button</h6>
    <sys-button icon="home" class="outline rounded">
      SYS Button
    </sys-button>
    <br>
    <sys-button icon="power_settings_new" class="outline rounded" color="accent">
      sys button
    </sys-button>
    <br>
    <sys-button icon="power_settings_new" class="outline rounded"   color="olive">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="outline rounded"   color="alert">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="outline rounded" color="error">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="outline rounded" color="secondary">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="outline rounded"  color="accent" [disable]="true">
      sys button
    </sys-button>
  </div>


  <div>
    <h6>Text Button</h6>
    <sys-button icon="home"  class="textBtn rounded">
      SYS Button
    </sys-button>
    <br>
    <sys-button icon="power_settings_new" class="textBtn rounded"  color="accent">
      sys button
    </sys-button>
    <br>
    <sys-button icon="power_settings_new" class="textBtn rounded" color="olive">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="textBtn rounded" color="alert">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="textBtn rounded" color="error">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="textBtn rounded" color="secondary">
        sys button
    </sys-button>

    <br>

    <sys-button icon="power_settings_new" class="textBtn rounded" color="accent" [disable]="true">
      sys button
    </sys-button>
  </div>

  </div>





</div>
